body {
  font-family: Karla, Arial;
}

.greenBlock {
  background-color: #495E57;
  width: 100%;
}

.sectionContainer {
  max-width: 80%;
  margin: auto;
}

#header {
  vertical-align: middle;
}

nav {
  display: inline;
}

nav ul {
  list-style-type: none;
  display: inline;
}

nav ul li {
  display: inline;
  padding-left: 30px;
}

nav ul li a {
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

#footer {
  color: white;
}

#footer > .heading {
  font-weight: bold;
  font-size: 16px;
}

#footer > .link {
  font-weight: normal;
  font-size: 14px;
}

